.home__body {
  position: absolute;
  left: 0;
  right: 0;
  top: 21rem;
  bottom: 0;
}
.home_body-title {
  border: 2px;
  height: 48px;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 1rem;
  position: relative;
  z-index: 5;
}

.home__body-content {
  position: absolute;
  width: 100%;
  overflow: scroll;
  min-height: 300px;
  top: 48px;
  bottom: 3rem;
}
.jumbotron {
  background-color: white !important;
  margin: 0px !important;
  padding: 0px !important;
}
.item {
  width: 100%;
  height: 400px;
  background: #333;
  color: white;
  font-size: 30px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.bTybGL {
  font-size: 1.6em;
  background-color: white !important;
  box-shadow: none !important;
  color: #999;
  border: none;
  -ms-flex-item-align: center;
}
.bTybGL:hover {
  color: violet !important;
}
.bTybGL:focus {
  outline: none;
}
.kyJvRZ {
  font-size: 1.6em;
  background-color: white !important;
  box-shadow: none !important;
  color: #999;
  border: none;
  -ms-flex-item-align: center;
}

.nav-tabs,
.nav-link {
  border: none !important;
}
.nav-tabs > a {
  color: rgb(66, 63, 63);
}
.nav-tabs .nav-link.active {
  color: rgb(0, 0, 0) !important;
  font-size: 2.5em;
}
.hidden {
  display: none;
}
.items-element {
  height: 60px;
  display: flex;
  width: 200px;
  cursor: pointer;
  user-select: none;
}
.items-template {
  height: 75vh;
  border: 1px solid white !important;
  background-color: white;
  margin: auto;
  margin-top: 30px;
}
.items-element:active {
  border: 1px dashed rgb(82, 36, 190) !important;
}

.stamp-name {
  position: relative;
  margin: 1rem auto;
  border-radius: 0.5rem;
  overflow: hidden;
  font-size: 16px;
  line-height: 24px;
}
.Tab-history {
  margin: 0 15px;
}

.history--body {
  position: absolute;
  left: 0;
  right: 0;
  top: 212px;
  bottom: 0;
}

.list-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.list-item > div {
  width: calc(100% / 4);
  padding: 0 6px;
  box-sizing: border-box;
  flex: auto;
}
.stamp__overlay {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  height: 100%;

  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all 0.25s ease 0s;
}
.stamp__actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  opacity: 0;
  transition: all 0.35s ease 0s;
  transform: translateY(1rem);
}
.stamp__actions > div {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}
.price-tag {
  position: relative;
  /* margin-bottom: 2rem; */
  margin: 2rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.price-tag :hover {
  cursor: pointer;
}
.price-tag:hover > img {
  transform: scale(1.35);
}
.price-tag:hover .stamp__overlay,
.price-tag:hover .stamp__actions {
  opacity: 1;
  transform: translateY(0);
}
.price-tag__menu {
  position: absolute;
  flex-direction: row;
  width: 100%;
  height: 100%;
  right: 0.7rem;
  top: 1rem;
  justify-content: space-around;
  align-items: center;
  transform-origin: top;
  animation: price-tag__menu ease-in 0.2s;
  display: none;
}
.price-tag:hover .price-tag__menu {
  display: inline-flex;
}

@keyframes price-tag__menu {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.price-tag > img {
  width: 350px;
  height: 300px;
  vertical-align: middle;
  transition: all 0.45s ease 0s;
}
.price-tag > img:hover {
  transform: scale(1.2);
  opacity: 1;
  transition: 0.5s ease-out;
}

.title-text {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: start;
  font-weight: bold;
  font-size: 1.5em;
}
/* aaaaaaaaaaaaaaaaaaaaaaaaaaaa */
.history__tab {
  height: 48px;
  margin: 0 !important;
  padding: 0 !important;
}
.history__tab--content {
  position: absolute;
  overflow: scroll;
  min-height: 300px;
  top: 48px;
  bottom: 0;
  right: 0;
}
.Home_body-link {
  position: absolute;
  right: 40px;
  font-size: 2rem;
}
