
.jumbotron{
    background-color: white !important;
    margin: 0px !important;
    padding: 0px !important;
}
.item{
    width:  100%;
    height: 400px;
    background: #333;
    color: white;
    font-size: 30px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.bTybGL{
    font-size: 1.6em;
    background-color: white !important;
    box-shadow: none !important;
     color: #999; 
    border: none;
    -ms-flex-item-align: center;
}
.bTybGL:hover{
    color: violet !important;

}
.bTybGL:focus{
    outline: none;
}
.kyJvRZ{ 
    font-size: 1.6em;
    background-color: white !important;
    box-shadow: none !important;
     color: #999; 
    border: none;
    -ms-flex-item-align: center;    
}

.nav-tabs , .nav-link{
    border: none !important;
}
.nav-tabs > a {
    color: rgb(66, 63, 63);
}
.nav-tabs .nav-link.active{
color: rgb(0, 0, 0) !important;
font-size: 2.5em;
}
.hidden{
    display:none;
}
.items-element{
    height: 60px ;
    display: block;
    width: 200px !important ;
    border: 1px solid rgb(85, 84, 87) !important;
    cursor: pointer;
    user-select: none
}
.items-template{
    height:75vh;
    border: 1px solid white !important;
    background-color: white;
    margin: auto;
    margin-top: 30px;
}
.items-element:active {
    border: 1px dashed rgb(82, 36, 190) !important;
}

.stamp-name{
    color: rgb(0, 0, 0);
    font-weight:200;
    font-size: 12px;
    text-align: center;
}
.Tab-history{
    margin: 0 15px;
}
.home--body {
    position: absolute;
    left: 0;
    right: 0;
    top: 212px ;
    bottom: 0;
}
.history--body {
    position: absolute;
    left: 0;
    right: 0;
    top: 212px ;
    bottom: 0;
}
.home-content {
    position: absolute;
    overflow: scroll;
    min-height: 300px;
    top: 48px ;
    bottom: 0;
    right: 0;
}
.list-item{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.list-item > div {
    width:  calc(100% /6);
    padding:  0 6px;
    box-sizing: border-box;
    flex: auto;
    
}
.home-title{
    border: 2px ;
    height: 48px;
    border-bottom: 3px solid #f0f0f0;
    box-shadow: 4px #f0f0f0 ;
    margin: 0 16px;
    position: sticky;
    top :0;
    z-index: 5;
}
.price-tag{
    display: inline-block;
    flex-direction: row;
    width: calc(100% /6);
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex: auto;
}
.price-tag > img {
    align-items: center;
    width: 190px;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
}
.title-text{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: start;
    font-weight: bold;
    font-size: 1.5em;
}
/* aaaaaaaaaaaaaaaaaaaaaaaaaaaa */
.history__tab{
    height: 48px;
    margin: 0 !important;
    padding: 0 !important;
}
.history__tab--content{
    position: absolute;
    overflow: scroll;
    min-height: 300px;
    top: 48px ;
    bottom: 0;
    right: 0;
}
