.row , .col {
    margin: 0px !important;
    padding: 0px !important;
}
a{
    text-align: center;
    text-decoration: none !important;
    color: black !important;
}
    .tab-element {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: scroll;
        height: 800px;

    }
    a .tab-element-text:hover{
        color: rgb(126, 125, 125) !important;}
    .menu_tab-item {
        display: flex;
        font-size: 2em;
        align-items: center;
        justify-self: center;
        justify-content: center;
        margin: 10px 0;
        border: 2px;
    }

.nav-item {

    font-size: 12px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

}
.nav-item_tab-menu:hover {
    background-color: white;
}

.bnt-element{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 35px 10px;
    width: 90%;
    border-radius: 5px;
    list-style-type: none !important;
    border: 2px;
}

.sidebar-closed{
    display: flex;
    max-width: 60px !important;
    transition: all 2s;

}

.sidebar-open {
    display: flex;
    max-width:  300px !important;
    flex-grow: 0;
    flex: auto;
 
}

.tab-content-closed {    
    display: none;
    transition:  all 1s;
}
.menu {
    max-width:  60px !important;
    background: #F0F0F0;
}
.btn-sidebar{

    background-color: #F0F0F0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab-content__Element {
    background-color: #F0F0F0;
    display: flex;
    height: 160px;
    width:  90%;
    margin:  auto;

    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px;
}

.bnt-template{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin: auto;
    
    list-style-type: none !important;
    border: 2px;
}
.stamp1 {
    height: 100px;
    width: 100px;
}
.stamp2 {
    height: 100px;
    width: 200px;
}
.stamp3 {
    height: 100px;
    width: 70px;
}
.stamp4 {
    height: 100px;
    width: 130px;
}
.stamp5 {
    height: 100px;
    width: 150px;
}
.stamp6 {
    height: 80px;
    width: 180px;
}
.stamp7 {
    height: 100px;
    width: 80px;
}