.row,
.col {
  margin: 0px !important;
  padding: 0px !important;
}
.fill-color:focus {
  outline-style: none;
}
.menu {
  display: block;
  background: var(--menu-color);
  width: 8rem;
  min-width: 8rem;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
}
.menu__col {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 100%;
  height: 100%;
}
.panel-search-input {
  background: transparent;
  border-style: none;
  outline: none;
  height: 100%;
  position: absolute;
}
.menu__col-items {
  height: 56px;
  padding: 0 !important;
  width: 100%;
}
.menu__col-item {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.menu__col-item:hover {
  opacity: 0.4;
}
.icon_search {
  position: absolute;
  left: 15px;
}
.menu__col-request {
  position: absolute;
  font-size: 3rem;
  margin-left: 1.5rem;
  bottom: 8rem;
}
.menu__items:active {
  background-color: var(--white-color);
}
.menu__template {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  width: 260px;
  height: 100%;
  padding-bottom: 20px;
}
.tab-content {
  position: relative;
  height: 100vh;
}
.menu-content__search {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 1rem;
  width: 200px;
  border: 1px solid transparent;
  background: #f2f2f7;
  border-radius: 8px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  outline: 0;
  position: relative;
}
.menu-content__template {
  background-color: #f0f0f0;
  display: flex;
  height: 160px;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}
.menu-content__size {
  display: block;
  position: relative;
  height: 120px;
  border: 1.5px solid gray;
  margin: 10px auto;
  width: 90%;
  box-shadow: 1px 1px 0.2 gray;
}
.menu-content__size--height {
  display: flex;
  position: relative;
  right: 0;
  width: 100%;
  top: 15px;
}
.menu-content__size--label {
  display: flex;
  position: relative;
  right: 0;
  width: 100%;
  top: 15px;
  align-items: center;
  height: 30px;
}
.menu-content__size--width {
  display: flex;
  position: relative;
  right: 0;
  width: 100%;
  top: 50px;
}
.panel-size-input {
  right: 10px;
  width: 100px;
  border-color: gray !important;

  border-radius: 6px;
  position: absolute;
}
.panel-size-input__left {
  left: 10px;
  width: 100px;
  border-color: gray !important;
  border-radius: 6px;
  position: absolute;
}
.btn--addLabel {
  right: 10px;
  max-width: 60px !important;
  background-color: red !important;
  position: absolute;
  display: inline;
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.25);
  background-color: var(--white-color) !important;
  border-radius: 5px;
}
.span_txt {
  position: absolute;
  left: 20px;
}
.btn__template {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin: auto;
  list-style-type: none !important;
  border: 2px;
}
.btn__create--template {
  background-color: rgb(185, 185, 131);
  border-radius: 10px solid blue !important;
  bottom: 2px;
  display: block;
  position: absolute;
  bottom: 5px;
  z-index: 90;
  left: 45px;
  width: 60%;
}
.stamp1 {
  height: 100px;
  width: 100px;
}
.stamp2 {
  height: 100px;
  width: 120px;
}
.stamp3 {
  height: 100px;
  width: 70px;
}
.stamp4 {
  height: 100px;
  width: 130px;
}
.stamp5 {
  height: 100px;
  width: 120px;
}
.stamp6 {
  height: 80px;
  width: 120px;
}
.stamp7 {
  height: 100px;
  width: 80px;
}
.stamp10 {
  height: 100px;
  width: 80px;
  /* background-image: ; */
}
.btn__element {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 35px 10px;
  height: 30px;
  width: 90%;
  border-radius: 5px;
  list-style-type: none !important;
  border: 2px;
}
.isActive {
  background-color: white;
}
/* aaaaaaaaaaaaa */
.design__menu--open {
  display: flex;
  height: 100vh;
  flex: auto;
}

.design__menu {
  display: flex;
  height: 100vh;
  flex: auto;
}
.menu__content--Open {
  position: relative;
  transition: all 2s;
}
.menu__content--closed {
  display: none;
}
.menu__content--true {
  display: none;
}
.btn__sidebar--true {
  z-index: 12;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__sidebar--Open {
  z-index: 12;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__sidebar--closed {
  display: none;
}
.btn__sidebar--false {
  display: none;
}
.btn__sidebar--undefined {
  display: none;
}
.btn__push {
  z-index: 999;
  width: 15px;
  height: 29px;
  background-color: white;
  border-radius: 1px 10px 10px 1px;
  font-size: 1.6rem;
}
.compact-picker {
  margin: 10px 0px;
  box-shadow: none !important;
}
.compact-picker > div > div {
  box-shadow: none !important;
}
.menu-content__request {
  display: block;
  height: 150px;
  width: 260px;
  margin: 0 15px;
  margin-top: 30px;
  background-color: #f9f9f9;
  box-shadow: 4px 4px 0.8 gray !important;
  border-radius: 8px;
  border: 1.5px solid gray;
}
.bnt__request {
  display: block;
  margin: 10px 70px !important;
  color: white;
  background-color: #f2f2f7 !important;
}
.txt_decription {
  height: 60px;
  width: 225px;
  border-radius: 4px;
  border-color: gray;
  box-shadow: 2px 2px 0.5 gray;
  margin: 10px 15px;
}
.menu__col-request > a {
  background-color: transparent !important;
}
.menu-content__upload {
  display: block;
}
.upload__content {
  height: 200px;
  width: 200px;
  margin: 1.3rem !important;
  background-color: #f7f7f7;
  border-radius: 2px;
  margin: auto;
}
.upload__content-icon {
  font-size: 5rem;
  cursor: pointer;
}

.img-holder {
  margin-top: 1rem;
}
.btn__changleBG {
  display: flex;
  justify-content: center;
  margin-left: 55px;
}

.img-holder > .img {
  display: flex;
  width: 145px;
  /* object-fit: cover;
  box-sizing: border-box; */
  height: 145px;
  border: 3px dashed gray;
  border-radius: 5px;
  margin: 0 auto;
}
#input[type='file'] {
  display: none;
}
.label {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.image-upload {
  margin: auto;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
