.navbar-fluid {
  background: #1c1c1e;
  width: 100%;
  position:sticky;
  height: 5vh;
  top: 0;
  z-index: 999;
}
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.navbar__logo {
  height: 60px;
  cursor: pointer;
  margin: 0 auto;
  max-height: 60px;
}
.navbar__menu {
  display: flex;
  list-style: none;
  height: 60px;
  width: 80vw;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.navbar__user{
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: end;
}
.img-logo {
  height:  60px;
}
.navbar-account {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  align-items: center;
  margin-left:  40px;
  margin-right: 1em;
}
.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}
.nav-item {
  height: 80px;
  font-size: 26px;
}

.nav-links {
  display: flex;
  color: #fff !important;
  font-size: 20px;
  font-weight: normal;
  line-height: 10px;
  align-items: center;
  margin: 0px 20px;
  height: 60%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}
.nav-links:hover {
  border-bottom: 4px solid transparent !important;
  text-decoration: none;
  color: #fff !important;
}

.fa-bars { 
  color: #fff;
}

.active {
  border-bottom: 4px solid #fff !important;

}
.active:hover {
  border-bottom: 4px solid #fff !important;

}
