.navbar-fluid {
position: relative;
height: 56px;
background-color: black;
}
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background : transparent;
  position: fixed;
  padding: 0;
  width: 100%;
  min-width: 800px;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
}
.navbar__logo {
  cursor: pointer;
  box-sizing: border-box;
  position:relative;
}
.navbar__menu {
  display: flex;
  list-style: none;
  height: 60px;
  width: 80vw;
  flex-direction: row;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}
.navbar__user{
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: end;
  box-sizing: border-box;
}
.img-logo {
  height: 2em;
}
.navbar-account {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  align-items: center;
  margin-left:  40px;
  margin-right: 1em;
}
.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}
.nav-item {
  height: 80px;
  font-size: 26px;
}

.nav-links {
  display: flex;
  color: #fff !important;
  font-size: 20px;
  font-weight: normal;
  line-height: 10px;
  align-items: center;
  margin: 0px 20px;
  height: 60%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}
.nav-links:hover {
  border-bottom: 4px solid transparent !important;
  text-decoration: none;
  color: #fff !important;
}

.fa-bars { 
  color: #fff;
}

.link--active {
  border-bottom: 4px solid #fff !important;

}
.link--active:hover {
  border-bottom: 4px solid #fff !important;

}
.narbar__input{
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border: 0;
  width: 160px;
  background: 0 0;
  box-shadow: none;
  color: #fff;
  margin-right: 10px;
  border-radius: 8px;
  outline-style: none;
}
.narbar__input:hover{
background-color: rgb(138, 133, 133);
  box-shadow: none;
  color: #fff;
  margin-right: 10px;
  border-radius: 8px;
}
.narbar__btn{
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border: 0;
  width: 80px;
  background: 0 0;
  box-shadow: none;
  color: #fff;
  margin-right: 10px;
  border-radius: 8px;
  outline-style: none;
}
.narbar__btn:hover{
background-color: rgb(138, 133, 133);
  box-shadow: none;
  color: #fff;
  margin-right: 10px;
  border-radius: 8px;
}