.navbar-fluid {
  background: #1c1c1e;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: relative;
  top: 0;
  z-index: 2;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
}

.navbar-logo {
  align-items: center;
  height: 60px;
  cursor: pointer;
  position: relative ;
  justify-self: start;
}
.img-logo {
  margin-right: 4em;
  height:  60px;
}
.navbar-account {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  align-items: center;
  margin-left:  40px;
  margin-right: 1em;
}
.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  height: 60px;
  width: 80vw;
  justify-content: start;
}

.nav-item {
  height: 80px;
  font-size: 26px;
}

.nav-links {
  display: flex;
  color: #fff !important;
  font-size: 20px;
  font-weight: normal;
  line-height: 10px;
  align-items: center;
  padding: 0px 20px;
  height: 60%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;


}

.nav-links:hover {
  border-bottom: 5px solid transparent !important;
  text-decoration: none;
  color: #fff !important;
}
.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}
.link-active{
  background-color: white !important;
}
.menu-icon {
  display: none;
}
.active {
  border-bottom: 5px solid #fff !important;

}
.active:hover {
  border-bottom: 5px solid #fff !important;

}
@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }
  .navbar-account {
    display: none;

  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}